html
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body
{
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
}

textarea
{
    margin: 0px;
    width: 50%;
    height: 50%;
    background-color: lightblue;
    border: black 1px solid;
}